{% layout "index.liquid" %}

{% block main %}
<main>
  <h1>Leaderboard</h1>
  <p>(Updates every minute)</p>
  <div id="backdrop">
    <table>
      <tr>
        <th>Rank</th>
        <th>Username</th>
        <th>Level</th>
      </tr>
      {% for user in leaderboard %}
      {% unless user.username == 'admin' %}
      <tr>
        <td>{{ forloop.index }}</td>
        <td>{{ user.username | escape_once }}</td>
        <td>{{ user.level }} </td>
      </tr>
      {% endunless %}
      {% endfor %}
    </table>
  </div>
</main>
{% endblock %}

{% block styles %}
<style>
  main {
    margin: 3vw;
  }

  h1,
  h1+p {
    text-align: center;
  }

  h1+p {
    font-size: 0.9rem;
  }

  #backdrop {
    background: rgba(255, 255, 255, 0.09) url('/images/ellipse-top.webp') no-repeat left top / 60%;
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  }

  table {
    border-collapse: separate;
    border-spacing: 0 1rem;
    width: 100%;
  }

  tr {
    background: rgba(39, 33, 33, 0.7);
  }

  td,
  th {
    padding: 1rem;
    text-align: center;
    text-overflow: ellipsis;
  }

  th {
    font-size: 1.3rem;
  }

  td:first-child,
  th:first-child {
    border-radius: 1rem 0 0 1rem;
  }

  td:last-child,
  th:last-child {
    border-radius: 0 1rem 1rem 0;
  }
</style>
{% endblock %}