{% layout "index.liquid" %}

{% block main %}
<main>
  <h1>Leaderboard</h1>
  <p>Updates every 1 minute</p>
  <div id="container">
    {% for uname in leaderboard %}
    {% unless uname == 'admin' %}
    <div {% if uname==username %}id="self" {% endif %}class="team">
      {{ uname | escape_once }}
    </div>
    {% endunless %}
    {% endfor %}
  </div>
</main>
{% endblock %}

{% block styles %}
<style>
  main {
    margin: 3vw;
  }

  h1 {
    text-align: center;
  }

  h1+p {
    text-align: center;
  }

  #container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    background: rgba(255, 255, 255, 0.09) url('/images/ellipse-top.webp') no-repeat left top / 60%;
  }

  .team {
    background: rgba(39, 33, 33, 0.7);
    padding: 1rem;
    border-radius: 1rem;
    width: 100%;
    text-align: center;
  }

  #self {
    border: 2px solid #FFD700;
  }
</style>
{% endblock %}